aws_region        = "us-east-1"
environment       = "production"
project_name      = "kollab-platform"
db_name           = "kollab_db"
db_username       = "kollab_admin"
db_password       = "YourStrongPasswordHere123!"
app_runner_cpu    = "1024"
app_runner_memory = "2048"
